<div class="container mt-3" data-controller="changecolor">
  <h1 data-changecolor-target="title" data-action="click->changecolor#change">All Lists</h1>
  <%= link_to "Add List", new_list_path %>
  <hr>

  <% @lists.each do |list| %>
    <p><%= link_to list.name, list_path(list) %></p>
    <br>
  <% end %>
</div>
